.container {
    padding: 20px;
    text-align: center;
    background: linear-gradient(to top, #1d345c, #112448);
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
}

.cardContainer {
    position: relative;
    width: 850px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    max-height: auto;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 20px;
}

.cardWrapper {
    position: absolute;
    top: 0;
    left: 100%;
    transition: left 1s ease-in-out;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.cardWrapper.active {
    left: 0;
    opacity: 1;
}

.cardContent {
    display: flex;
    align-items: center;
    height: 100%;
}

.image {
    width: 250px;
    height: 250px;
    max-width: 300px;
    border-radius: 50%;
    margin-right: 20px;
    border: .5px solid gray;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: max-content;
    max-width: 400px;
}

.role {
    font-weight: bold;
    color: #555;
}

.dots {
    margin-top: 20px;
}

.dot {
    height: 8px;
    width: 8px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.dot.activeDot {
    background-color: #717171;
}
