<<<<<<< HEAD
.roundContainer {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #eee5e5; /* Adjust this color as needed */
=======
.roundContainer {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #eee5e5; /* Adjust this color as needed */
>>>>>>> 79c38e14c949436889d06f9ad9e81f95fe38252f
}