/* about.module.css */
.container {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  overflow: hidden;
  background: linear-gradient(to bottom, #1d345c, #112448);
}

.aboutUs {
  padding: 20px;
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.content {
  position: relative;
  z-index: 1;
}

.heading {
  text-align: center;
  color: rgb(251, 251, 251);
  margin-bottom: 20px;
}

.hidden {
  opacity: 0;
  transform: translateX(3%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.visible {
  opacity: 1;
  transform: translateX(0);
}

.paragraph {
  color: rgb(248, 242, 242);
  font-style: italic;
  position: relative;
  padding: 20px;
  text-align: justify;
  font-size: 20px;
  animation: none;
}

.delay {
  transition-delay: 0.5s; /* Adjust this value to set the delay for the second paragraph */
}

.paragraph:first-of-type {
  margin-bottom: 20px; /* Space between the first and second paragraphs */
}

.paragraph:nth-of-type(2) {
  margin-top: 20px; /* Space at the beginning of the second paragraph */
}
